<app-header></app-header>

<div class="container">
  <div class="row">


    <div class="col-sm-4" id="round">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/images/click.jpg" alt="Card image cap">
          <p style="font-size: 2em; color: #257089; margin-top: 10px"><a routerLink="#">Rupesh Yadav</a></p>
          <p style="color: black">Profile Viewed: <span style="font-weight: 900">10</span></p>
          <a routerLink="#" class="btn btn-round btn-danger" style="color: whitesmoke">
            Profile
          </a>
        </div>
      </div>
    </div>


    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Uploads</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Awaiting Approval</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Favourites</a>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">

            <!-- Data for upload Tab-->

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="insideData">
                <p>Total Upload: 2</p>
                <div class="data-wrap">
                  <a routerLink="/id">
                    <div class="wrap">
                      <div class="card">
                        <img class="card-img-top" src="../../assets/images/courses.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p style="font-size: 2em; color: #257089">Concept of C</p>
                          <p style="color: black">By: <span style="font-weight: 900">Rupesh yadav</span></p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a routerLink="/id">
                    <div class="wrap">
                      <div class="card">
                        <img class="card-img-top" src="../../assets/images/courses.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p style="font-size: 2em; color: #257089">Concept of C</p>
                          <p style="color: black">By: <span style="font-weight: 900">Rupesh yadav</span></p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a routerLink="/id">
                    <div class="wrap">
                      <div class="card">
                        <img class="card-img-top" src="../../assets/images/courses.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p style="font-size: 2em; color: #257089">Concept of C</p>
                          <p style="color: black">By: <span style="font-weight: 900">Rupesh yadav</span></p>
                        </div>
                      </div>
                    </div>
                  </a>

                </div>
              </div>
            </div>


            <!-- Data for Approval Tab-->

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="insideData">
                <p>Total Awaiting: 0</p>
                <div class="data-wrap">
                  <a routerLink="/id">
                    <div class="wrap">
                      <div class="card">
                        <img class="card-img-top" src="../../assets/images/courses.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p style="font-size: 2em; color: #257089">Concept of C</p>
                          <p style="color: black">By: <span style="font-weight: 900">Rupesh yadav</span></p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>


            <!-- Data for Favourite Tab-->

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

              <div class="insideData">
                <p>Total Awaiting: 0</p>
                <div class="data-wrap">
                  <a routerLink="/id">
                    <div class="wrap">
                      <div class="card">
                        <!--<img class="card-img-top" src="../../assets/images/courses.jpg" alt="Card image cap">-->
                        <div class="card-body">
                          <p style="color: black">
                            Explore Materials, read them, and mark the best as favourites
                            to be displayed here.
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
