<div class="header">
  <app-header></app-header>
</div>
<div class="container">
  <div class="content">

    <div *ngIf="!data.length" class="row">
      <p>No document found</p>
    </div>

    <div *ngIf="data.length" class="row">

      <div class="col-sm-8">
        <div class="card">
          <div class="card-body" *ngFor="let doc of data">

            <div  class="shadow-sm">
              <div class="row">
                <div class="col-sm">
                  <img width="191" height="207" src="{{doc.document | p2I}}">
                </div>
                <div class="col-sm">
                  <a [routerLink]="[doc._id]" class="nav-link"><h3>{{doc.subject}}</h3></a>
                  <p>{{doc.uploadedBy}}<span style="font-style: italic; margin-left: 10px">{{doc.uploadedAt}}</span></p>
                  <div class="row">
                    <div class="col-sm">
                      <p>Rating: 4.0</p>
                    </div>
                    <div class="col-sm">
                      <p>Topics: 4</p>
                    </div>
                    <div class="col-sm">
                      <p>Topics: 4</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header" style="background-color: #257089">
            <span style="color: white">Top 3 Ratings</span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a routerLink="#" class="nav-link">Cras justo odio</a></li>
            <li class="list-group-item"><a routerLink="#" class="nav-link">Dapibus ac facilisis in</a></li>
            <li class="list-group-item"><a routerLink="#" class="nav-link">Vestibulum at eros</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<embed width="191" height="207" name="plugin" src="../../assets/images/Internshala_Resume_Guide.pdf" type="application/pdf">-->


<!--<object data="../../assets/images/Internshala_Resume_Guide.pdf" type="application/pdf" width="100%" height="100%">-->
  <!--<p>Alternative text - include a link <a href="../../assets/images/Internshala_Resume_Guide.pdf">to the PDF!</a></p>-->
<!--</object>-->


<!--<div  class="shadow-sm">-->
  <!--<div class="row">-->
    <!--<div class="col-sm">-->
      <!--<embed width="191" height="207" name="plugin" src="../../assets/images/Internshala_Resume_Guide.pdf" type="application/pdf">-->
    <!--</div>-->
    <!--<div class="col-sm">-->
      <!--<a routerLink="#" class="nav-link"><h3>Concept of C</h3></a>-->
      <!--<p style="font-style: italic">Rupesh Yadav</p>-->
      <!--<div class="row">-->
        <!--<div class="col-sm">-->
          <!--<p>Rating: 4.0</p>-->
        <!--</div>-->
        <!--<div class="col-sm">-->
          <!--<p>Topics: 4</p>-->
        <!--</div>-->
        <!--<div class="col-sm">-->
          <!--<p>Topics: 4</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div  class="shadow-sm">-->
  <!--<div class="row">-->
    <!--<div class="col-sm">-->
      <!--<embed width="191" height="207" name="plugin" src="../../assets/images/Internshala_Resume_Guide.pdf" type="application/pdf">-->
    <!--</div>-->
    <!--<div class="col-sm">-->
      <!--<a routerLink="#" class="nav-link"><h3>Concept of C</h3></a>-->
      <!--<p style="font-style: italic">Rupesh Yadav</p>-->
      <!--<div class="row">-->
        <!--<div class="col-sm">-->
          <!--<p>Rating: 4.0</p>-->
        <!--</div>-->
        <!--<div class="col-sm">-->
          <!--<p>Topics: 4</p>-->
        <!--</div>-->
        <!--<div class="col-sm">-->
          <!--<p>Topics: 4</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
