<app-header></app-header>
<app-search></app-search>
<div class="container">
  <ul>
    <div *ngFor="let subject of subjects">
      <div class="item">
        <li><a [routerLink]="[subject.subject_name]" class="nav-link">{{subject.subject_name}}</a></li>
      </div>
    </div>
  </ul>
</div>


<!--<div class="item">-->
  <!--<li><a routerLink="#" class="nav-link">Economics</a></li>-->
<!--</div>-->
<!--<div class="item">-->
  <!--<li><a routerLink="#" class="nav-link">Professional communication</a></li>-->
<!--</div>-->
<!--<div class="item">-->
  <!--<li><a routerLink="#" class="nav-link">qwerty</a></li>-->
<!--</div>-->
<!--<div class="item">-->
  <!--<li><a routerLink="#" class="nav-link">asdfgh</a></li>-->
<!--</div>-->
<!--<div class="item">-->
  <!--<li><a routerLink="#" class="nav-link">zxcvbn</a></li>-->
<!--</div>-->
