<app-header></app-header>
<div class="container">


  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header" style="color: #ffffff; background-color: #257089">
          Upload your Document
        </div>
        <div class="card-body">
          <form method="post" [formGroup]="uploadForm" enctype="multipart/form-data" (ngSubmit)="OnUpload(uploadForm.value)" >
            <label>Document types<span style="color: red;">*</span></label>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="types" value="notes">
                <label class="form-check-label">Notes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="types" value="labs">
                <label class="form-check-label">Labs</label>
              </div>
            </div>
            <div class="form-group">
              <label>Course <span style="color: red;">*</span></label>
              <select class="form-control" formControlName="course">
                <option value="B-Tech">B-Tech</option>
              </select>
            </div>
            <div class="form-group">
              <label>University<span style="color: red;">*</span></label>
              <select class="form-control" formControlName="university">
                <option value="Abdul kalam azaad technical university">Abdul kalam azaad technical university</option>
              </select>
            </div>
            <div class="form-group">
              <label>Document provided by which college<span style="color: red;">*</span></label>
              <select class="form-control" formControlName="doc_of_college">
                <option value="krishna institute of engineering and technology">Krishna institute of engineering and technology</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label>Select Branch<span style="color: red;">*</span></label>
              <select #branch formControlName="branch" class="form-control">
                <option value="computer science and engineering">CS</option>
                <option value="information technology">IT</option>
                <option value="mechanical engineering">ME</option>
                <option value="electronics and communication engineering">ECE</option>
                <option value="civil engineering">CIVIL</option>
                <option value="electrical and electronics engineering">ENE</option>
                <option value="electronics and instrumentation engineering">EIE</option>
              </select>
            </div>
            <div class="form-group">
              <label>Choose the Semester<span style="color: red;">*</span></label>
              <select #semester formControlName="semester" class="form-control">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
            </div>

            <div class="form-group">
              <label>Choose document<span style="color: red;">*</span></label>
              <br>
              <input  type="file" name="photo" #file class="form-control-file" (change)="uploadFile($event)" ng2FileSelect [uploader]="uploader" />
              <br>
              <button  type="button" class="btn btn-primary"
                      (click)="uploadImage()"
                      [disabled]="!uploader.getNotUploadedItems().length || !uploadButton" >
                Upload an Image
              </button>
            </div>


            <div class="form-group">
              <label>Subject Name<span style="color: red;">*</span></label>
              <input type="text" class="form-control" #sub (keyup)="valueUpdate(sub.value, branch.value, semester.value)"
                     [ngbTypeahead]="search"  formControlName="subject" placeholder="Subject Name">
            </div>


            <div class="form-group">
              <label>Choose the topic covered</label>
              <div formArrayName="topic_covered" *ngFor="let item of items.controls; let i = index;">
                <br>
                <div [formGroupName]="i">
                  <input type="text" formControlName="topics" class="form-control" placeholder="Topic {{i+1}}"/>
                </div>
              </div>
              <br>
              <button type="button" class="btn btn-success" (click)="addItem()">Add more fields</button>
            </div>
            <button type="submit" [disabled]="uploadForm.invalid || condition"  class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <p>If you have any problem in submitting the document, you can send your document to
            <b>
              rupeshyadav94.ry@gmail.com
            </b>
            with an attachment. We will upload your document
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
