<app-header></app-header>
<div class="container">
  <p>Subject name: <span>concept of C</span></p>
  <p>course: <span>B-Tech</span></p>
  <p>university: <span>Aktu</span> </p>
  <p>doc_of_college: <span>KIET</span></p>
  <p>semester: <span>concept of C</span></p>
  <p>branch: <span>IT</span> </p>
  <p>document : <span>see file</span></p>
  <p>unit_covered: <span>Total Units</span> </p>
  <ul>
    <li>abcn</li>
    <li>pqwerty</li>
  </ul>
  <div class="row">
    <button type="button" (click)="OnApprove('id')" class="btn btn-success">Approve</button>
    <button type="button" (click)="dissaprovedData('data')" class="btn btn-danger" style="margin-left: 10px">Disapprove</button>
  </div>
</div>
