<app-header></app-header>
<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <div  class="shadow-sm">
              <div class="col-sm">
                <a routerLink="/view" class="nav-link"><img src="../../assets/images/courses.jpg"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="rating">
          <div class="card">
            <div class="card-header">
              <p>Please give your rating</p>
            </div>
            <div class="card-body">
              <app-five-star></app-five-star>
            </div>
          </div>
        </div>
        <div class="topic">
          <div class="card">
            <div class="card-header" style="background-color: #257089">
              <span style="color: white">Topic covered</span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

